:root {
  --font: Roboto, sans-serif;
  --pink: #f71469;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  color: white;
  background-image: linear-gradient(to top, var(--pink) -40%, #3535ec 85%);
  background-attachment: fixed;
}
  
img {
  max-width: 100%;
}

.container {
  display: grid; 
  padding: 16px;
  width: 90vw;
  margin: 0 auto;
}

header img {
  margin-bottom: 32px;
  width: 56px;
}

textarea {
  width: 100%;
  height: 120px;
  boarder radius: 16px; /* now text doesn't show properly */
  padding: 24px; /* move text in so can see all text */
  font-size: 20px;
  font-family: var(--font);
  border: none;
  resize: none; /*disable user from resizing the box */
  margin-bottom: 32px;
}

textarea:focus-within {
  outline: 1px auto var(--pink);
}

.controls {
  display: grid; /*think excel cell*/
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr; /* fr = fractions so two columns 1/5 other 4/5 */
}

button {
  border: none;
  border-radius: 8px;
  height: 56px;
  width: 64px;
  background-color: var(--pink);
}

button:disabled {
  opacity: 0.6;
  background-color: idek;
}

button img {
  vertical-align: middle;
}

label {
  display: block; /* displayed as a block */
  margin-bottom: 12px;
}

.pitch-controls {
  margin-bottom: 32px;
}

#pitch-range { /* creating an id*/
  width:
  accent-color:
}

.talking .static-duck {
  display: none;
}

.animated-duck {
  display: block;
}
